<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action="" method="POST">
        <label for="firstname"></label>
        <input type="text" name="first_name" id="firstname" placeholder="your first name">

        <label for="lastname"></label>
        <input type="text" name="last_name" id="lastname" placeholder="your last name">

        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="your email">

        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="your password">

        <label for="confirm_password"></label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="confirm password">

        <button type="submit">Sign up</button>

    </form>

    <form action="" method="POST" enctype="multipart/form-data">
        
        <label for="profile_picture"></label>
        <input type="file" name="profile_picture" id="profile_picture">

        <button type="submit">Upload</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/script/signup_form.js"></script>
</body>
</html>